@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Kontakt info</title>
</head>


<head>
    <meta charset="UTF-8">
    <title>Madplan</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 10px 20px;
            text-align: center;
        }
        th {
            font-weight: bold;
        }
    </style>
</head>

<body>
<table border="1">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
    </tr>
    <tr>
        <td>Karen</td>
        <td>12345678</td>
        <td>karenemail@email.com</td>
    </tr>
</table>

</body>
